<h2>New Teacher</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/admin/teachers" method="post" accept-charset="utf-8">
       First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br><br>
        <input type="submit" value="Submit">
    </form>

  </div>
</div>
