<style>
body {
  background: #ffffff;
}
</style>
<div class="x_content">
  <form class="form-horizontal form-label-left" method="POST" action="/updateinfors" method="post" accept-charset="utf-8">

      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Chủ đề hướng nghiên cứu <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" required="required" type="text">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Mô tả <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input id="description" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="description" required="required" type="text">
        </div>
      </div>
  </form>
</div>
