<style>
body {
  background: #ffffff;
}
</style>
<div class="x_content">
  <form class="form-horizontal form-label-left" method="POST" action="/updateinfors" method="post" accept-charset="utf-8">

    <div class="col-md-6">
      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Chủ đề hướng nghiên cứu <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-6 col-xs-12">
          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" required="required" type="text">
        </div>
      </div>

      <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Mô tả <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-6 col-xs-12">
          <input id="description" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="description" required="required" type="text">
        </div>
      </div>

      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <button id="send" type="submit" class="btn btn-success" name="submit">Thêm</button>
          <button type="reset" class="btn btn-primary">Làm lại</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="x_content">
        <label class="col-xs-12">Lĩnh vực liên quan
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th>
                  <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title">STT </th>
                <th class="column-title">Tên lĩnh vực </th>
              </tr>
            </thead>

            <tbody>
              <% @list_tree_spheres.each_with_index do |item,index| %>
                <tr class="even pointer">
                  <td class="a-center ">
                    <input type="checkbox" class="flat" name="sphere_array_id[]" value="<%= item.id %>">
                  </td>
                  <td class=" "><%= index + 1 %></td>
                  <td class=" "><a href=""> <%= '---'*item.level %><%= item.name %></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
