<% @users.each do |user| %>
  <h1><%= user.email %></h1>
<% end %>

<h2>Import Department user</h2>

<%= form_tag import_admin_departmentusers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
