<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">DANH SÁCH</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab">THÊM DŨ LIÊỤ TƯ EXCEL</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab">TẠO TÀI KHOẢN</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">DOCUMENT</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="home">
        <%= render "table" %>
    </div>
    <div class="tab-pane" id="profile">
        <%= render "import" %>
    </div>
    <div class="tab-pane" id="messages">
        <%= render "new" %>
    </div>
    <div class="tab-pane" id="settings">
        DOCUMENT
    </div>
</div>

