<%= render 'layouts/menu' %>
<% if @check == -1 %>
  <div class="dialog alert alert-danger" role="alert">Chưa đến thời gian đăng ký thời gian đăng ký</div>
<% elsif @check == 0 %>
  <div class="dialog alert alert-danger" role="alert">Hệ thống đã đóng đăng ký</div>
<% elsif @check == 1 %>
  <%= render "new" %>
<% elsif @check == 2 %>
  <%= render "update" %>
<% end %>
