<style type="text/css" media="screen">
  body {
    background-color: #ffffff;
  }
</style>
<% if @check == -1 %>
  <h2>Chưa đến thời gian đăng ký thời gian đăng ký</h2>
<% elsif @check == 0 %>
  <h2>Hệ thống đã đóng đăng ký</h2>
<% elsif @check == 1 %>
  <%= render "new" %>
<% elsif @check == 2 %>
  <%= render "update" %>
<% end %>
