<h4>Chào bạn</h4>
<p>Bạn nhận được email này từ hệ thống đăng ký bảo vệ khóa luận thuộc trường Đại học Công nghệ - ĐHQGHN</p>
<%= @contents.html_safe() %>
<p><%= link_to "Địa chỉ trang web", root_url %></p>
