<h4>Chào bạn</h4>
<p>Bạn nhận được email này từ hệ thống đăng ký bảo vệ khóa luận thuộc trường Đại học Công nghệ - ĐHQGHN</p>
<p><%= @contents %></p>
<p><%= link_to "Địa chỉ trang web", root_url %></p>
