<div class="x_content">
  <div style="margin-top: 40px;">
    <%= link_to "THÊM KHÓA HỌC MỚI", new_admin_course_path, class: "btn btn-primary" %>
  </div>
  <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
          <thead>
              <tr class="headings">
                  <th>
                      <input type="checkbox" id="check-all" class="flat">
                  </th>
                  <th>Tên khóa học</th>
                  <th class="column-title no-link last"><span class="nobr">Hành động</span>
                  </th>
                  <th class="bulk-actions" colspan="7">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                  </th>
              </tr>
          </thead>

          <tbody>
              <% @courses_index.each do |course| %>
                  <tr class="even pointer">
                      <td class="a-center ">
                          <input type="checkbox" class="flat" name="table_records">
                      </td>
                      <td class=" "><%= course.name %></td>
                      <td class=" last">
                          <%= link_to "Sửa", edit_admin_course_path(id: course.id) %>
                          |
                         <%= link_to "Xóa", [:admin, course], method: :delete,
                          data: {confirm: t("comfirm")} %>
                      </td>
                  </tr>
              <% end %>
          </tbody>
      </table>
  </div>
</div>
