<h2>All Courses</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= link_to "edit", edit_admin_course_path(id: course.id) %></td>
        <td><%= link_to "delete", [:admin, course], method: :delete,
          data: {confirm: t("comfirm")} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
