<table class="table">
  <thead>
    <tr>
      <th>Tên khóa học</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @course.name %></td>
        <td><%= link_to "Sửa", edit_admin_course_path(id: @course.id) %></td>
        <td><%= link_to "Xóa", [:admin, @course], method: :delete,
          data: {confirm: t("comfirm")} %></td>
      </tr>
  </tbody>
</table>
