<div class="row">
  <div class="text-center">
    <a class="item" href="#">
      <div class="fa fa-2x fa-university"></div>
      <div>Thông tin</div>
      <div>giảng viên</div>
    </a>
    <a class="item" href="#">
      <div class="fa fa-2x fa-book"></div>
      <div>Chủ đề</div>
      <div>nghiên cứu</div>
    </a>
     <a class="item" href="/topics">
      <div class="fa fa-2x fa-th-large"></div>
      <div>Đăng ký</div>
      <div>đề tài</div>
    </a>
  </div>
</div>
<div class="ln_solid"></div>
