<style type="text/css" media="screen">
  body {
    background-color: #ffffff;
  }
  .dialog {
    width: 95%;
    max-width: 33em;
    margin: 0em auto 0;
  }
  a.item_menu {
  color: #337ab7;
  text-decoration: none;
  }
  .item_menu {
    -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      width: 100px;
      height: 100px;
      border: solid 1px #337ab7;
      display: inline-block;
      color: #337ab7;
      padding-top: 15px;
      border-radius: 10px;
      margin: 5px;
      text-decoration: none;
  }
  a.item_menu:hover {
    text-decoration: none;
    background-color: #337ab7;
    color: white !important;
  }
</style>
<div class="row">
  <div class="text-center">
    <a class="item_menu" href="/overview" data-name="info-unit">
      <div class="fa fa-2x fa-university"></div>
      <div>Thông tin</div>
      <div>đơn vị</div>
    </a>
    <a class="item_menu" href="/teachers" data-name="info-teacher">
      <div class="fa fa-2x fa-university"></div>
      <div>Thông tin</div>
      <div>giảng viên</div>
    </a>
    <a class="item_menu" href="/spheres" data-name="info-research">
      <div class="fa fa-2x fa-book"></div>
      <div>Chủ đề</div>
      <div>nghiên cứu</div>
    </a>
     <a class="item_menu" href="/topics" data-name="register-topic">
      <div class="fa fa-2x fa-th-large"></div>
      <div>Đăng ký</div>
      <div>đề tài</div>
    </a>
    <a class="item_menu" href="/edit_topics" data-name="edit-topic">
      <div class="fa fa-2x fa-th-large"></div>
      <div>Sửa đổi</div>
      <div>đề tài</div>
    </a>
  </div>
</div>
<div class="ln_solid"></div>
<script>
  $(document).ready(function(){
    $(function() {
      var href = window.location.href;
      $('a.item_menu').each(function(e,i) {
        // if (href.indexOf($(this).attr('href')) >= 0) {
        //   $(this).css({'background-color':'#337ab7','color':'#fff'});
        // }
        if (href == ('http://localhost:3000' + $(this).attr('href'))) {
          $(this).css({'background-color':'#337ab7','color':'#fff'});
        }
      });
    });
  });
</script>
