<p>Xin chào <%= @resource.email %>!</p>

<p>Bạn đã được cấp 1 tài khoản tại trang web uet.khoaluan.vnu.edu.vn</p>
<p>Xin vui lòng ấn vào link dưới để thay đổi mật khẩu tài khoản và thay đổi thông tin cá nhân của bạn</p>

<p><%= link_to 'Đăng nhập vào hệ thống', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Bạn cần thay đổi mật khẩu của bạn trước khi đăng nhập</p>
<p>Xin cảm ơn</p>
